html, body, h1{
  margin:0;
  padding:0;
}

.App {
  background-color: #EAD9FF;
  font-family: Meiryo;
}

.App h1 {
  padding-left: 30px;
  background-color:#FF6666
}

.contents-wrapper {
  padding-left: 50px;
  padding-bottom: 100px;
}

#email {
  display: block;
  background-color: white;
  color: #FF0461;
  text-decoration: none;
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  border-radius: 3px;
  box-shadow: 5px 5px 5px #000;
  text-align: center;
  margin-bottom: 100px;
}

#email:hover {
  opacity: 0.7
}